body {
  margin: 0;
  padding: 0;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}


/* @media  screen and (max-width: 425px) {
  .wqe{
    width: 50px;
    background-color: red;
  }
} */